text{
    font-family:Helvetica, Arial, sans-serif;
    font-size:11px;
    pointer-events:none;
}
#chart{
    position:absolute;
    width:500px;
    height:500px;
    top:0;
    left:0;
}
#question{
    position: absolute;
    width:400px;
    height:500px;
    top:0;
    left:520px;
}
#question h1{
    font-size: 50px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: absolute;
    padding: 0;
    margin: 0;
    top:50%;
    -webkit-transform:translate(0,-50%);
            transform:translate(0,-50%);
}

#add {
    float:left;
    margin-top: 590px; 
    margin-left: 5px; 
    background-color: #F0DEFD; 
    border-radius: 5px; 
    border: 1px solid; 
}

#todolist {
    float:left; 
    background-color: #DEFDE0; 
    margin-top: 550px;
    border-radius: 3px; 
    border: 1px solid; 
    outline: none; 
    overflow: auto;
}