<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/todolist.css">
    <title>To-do-list</title>
</head>
<body>
  <!-- Your Code Goes Here -->
  <form>
    <fieldset class="todo-list">
      <legend class="todo-list__title">Todo List</legend>
      <%items.forEach((item)=>{%>
      <label class="todo-list__label">
        <input type="checkbox" name="item1" id="item1" />
        <i class="check"></i>
        <span><%=item %></span>
      </label>
      <%})%>
    </fieldset>
  </form>
      
</body>
</html>